.allInputs,
.selectInputs label select {
  height: var(--forty-px);
  border: 1px solid var(--input-and-line-color);
  border-radius: 3px;
  padding-left: var(--ten-px);
  box-sizing: border-box;
  width: 100%;
}

.selectContainer,
.inputContainer label,
.phoneInputContainer {
  display: flex;
}

.inputContainer,
.selectContainer {
  margin: var(--twenty-px) 0;
}

.inputContainer h3,
.selectContainer h3 {
  margin: auto 0;
}

.selectContainer {
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.inputHeaders { min-width: 7.5rem; }

.selectInputs label select {
  width: 100%;
  min-width: 6.25rem;
  padding-left: 0;
  border-right: var(--ten-px);
  border: var(--ten-px) solid transparent;
  background-color: var(--input-and-line-color);
}

.addressBottom { margin-bottom: 0; }
.numberTop { margin-top: 0; }

.stateSelect,
.countrySelect,
.zipCode,
.phoneAreaCode,
.selectInputs h3,
.selectInputs label select { margin-right: var(--ten-px); }

/* .zipCode { max-width: 100px; } */

.citySelect { margin-right: 0; }

.errInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.creditCardImageContainer {
  position: absolute;
  width: 80px;
  top: -6px;
  right: 5px;
}

.creditCardImage { width: 100%; height: 100%; }

.errMessages {
  color: var(--red-button-color);
}

.radioContainer {
  display: flex;
}

.individualRadioContainer  {
  text-align: left;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  padding-bottom: var(--twenty-px);
  margin-right: var(--forty-px);

}

.radioButtons {
  box-sizing: border-box;
  /* border-radius: 50%; */
  cursor: pointer;
  min-height: var(--twenty-px);
  min-width: var(--twenty-px);
  margin: 0 var(--ten-px) 0 auto;
}

.radioHeader { 
  font-weight: 700; 
  margin-right: var(--twenty-px);
}

.radioText { 
  display: flex;
  flex-wrap: wrap;
}

.backToCartButton {
  color: var(--red-button-color);
  background-color: var(--background-color);
  border: 1px solid var(--red-button-color);
}

@media screen and (max-width: 1170px) {
  .citySelect { 
    margin-right: 50%; 
    margin-top: 0;
  }

  .citySelect h3 { 
    min-width: 7.5rem;
    margin-right: 0;

  }

  .stateSelect { margin-right: 0; }
}

@media screen and (max-width: 970px) {
  .stateSelect { 
    margin-right: 50%; 
    margin-top: 0;
  }

  .stateSelect h3 { 
    min-width: 7.5rem;
    margin-right: 0; 
  }

  .countrySelect { margin-right: 0 }
}

@media screen and (max-width: 780px) {
  .countrySelect { 
    margin-right: 50%; 
    margin-top: 0;
  }

  .countrySelect h3 { 
    min-width: 7.5rem;
    margin-right: 0; 
  }
}

@media screen and (max-width: 410px) {
  .selectContainer,
  .inputContainer label,
  .phoneInputContainer {
    flex-direction: column;
  }

  .inputContainer label h3 {
    margin-bottom: var(--twenty-px);
  }

  .zipCode,
  .phoneAreaCode { margin-right: 0; }
}